<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reusable Drop Down</title>
</head>

<body>
    <div class="quiz-form-choice">
        <mat-form-field id="categorySelect" appearance="outline">
          <mat-label >{{label}}</mat-label>
        <mat-select [formControl]="input" >
          <!-- index as i; trackBy: trackByCats; -->
           <ng-container *ngIf="(List$  | async ) as Lists">
          <mat-option *ngFor="let list of Lists;" [value]="list.id">
            <span [innerHTML]="list.name | bold: input.value!">
            <ng-container *ngIf="list.name | subCategory as subCategoryValue;">
         
              <!-- category has a sub category (Entertainment or Science) -->
              <span *ngIf="isObject(subCategoryValue)">
                
                {{ subCategoryValue.category }}
            
       
            
                {{subCategoryValue.subCategory}}
              </span>
                
            </ng-container>
            <ng-template #stringValueTemplate>
                {{list.name}}
            </ng-template>
            </span>
 
          </mat-option>
        </ng-container>
        </mat-select>
        <mat-hint>Try one you don't know</mat-hint>
        </mat-form-field>
          </div>
</body>

<!-- <mat-form-field id="difficultySelect" appearance="outline">
    <mat-label>Select a difficulty</mat-label>
  <mat-select formControlName="chosenDifficulty" >
    <mat-option *ngFor="let difficulty of difficulties;" [value]="difficulty">
      {{difficulty | titlecase}}
    </mat-option>
  </mat-select>
  <mat-hint>Challenge yourself</mat-hint>
  </mat-form-field> -->