<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reusable Drop Down</title>
</head>

<body>
    <div class="quiz-form-choice">
      <!-- filter by typing -->
      <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>
      <input matInput type="text" [formControl]="typedFilter" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" >
        <ng-container *ngFor="let list  of (List$  | async ) as Lists">
          <mat-option (click)="newSelection(list)" *ngIf="(list.name | hideBeforeColon) as subCat" 
          [value]="subCat">
              <span 
              [innerHTML]="subCat | titlecase | bold: typedFilter.value! ">
              </span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    <mat-hint>{{hint}}</mat-hint>
    </mat-form-field>
          </div>
</body>
