.answer-space{
    margin: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: scroll;
    border: 1px solid #000000;
  }
  .card{
    margin: 2% 0%;
  }
  .submit{
    display: flex;
    justify-content: center;
  }