<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Quiz Template</title>
</head>
<body>
<form [formGroup]="answersForm"  (ngSubmit)="submitQuiz(answersForm, completeList)" >
    <ol>
        <li *ngFor="let list of completeList; index as i; trackBy: trackByList;"> 
  <mat-card class="card">
   
    <mat-card-header  >
      
      {{list.title | decode}}
    
    </mat-card-header>
  
    <mat-card-content    >
      <!-- answers in random order -->
    <!-- keep track of each option chosen -->
      <mat-chip-listbox  >
    <mat-chip-option *ngFor="let questions of list.questions; index as i; trackBy: trackByQuestions; "   class="answer-space" color="primary" (click)="answered(questions)" >
  
      {{questions.question | decode}}
  
    </mat-chip-option>
      </mat-chip-listbox>
  
    </mat-card-content>
  </mat-card>
  </li> 
  </ol>
  <!-- submit -->
  <div *ngIf="answersForm.valid" class="submit" >
    <button mat-raised-button color="primary" id="submit" type="submit" >
      Submit
    </button>
  </div>
  </form>
  
  </body>