<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quiz Template</title>
</head>
<body >
<form [formGroup]="answersForm">
    <ol>
        <li *ngFor="let list of (completeList$ | async) as completeList; last as isLast; index as i; trackBy: trackByList;"> 
  <mat-card class="card">
    <mat-card-header>
      {{list.title | decode}}
    </mat-card-header>
    <mat-card-content>
      <!-- answers in random order -->
      <mat-chip-listbox >
    <mat-chip-option *ngFor="let questions of list.questions; index as in; trackBy: trackByQuestions;" class="answer-space" color="primary"
    (click)="answered(questions)">  
      {{questions.question | decode}}
    </mat-chip-option>
      </mat-chip-listbox>
  <!-- Allowed one change of question, hide when subscription has been made -->
  <ng-container *ngIf="!newQuestionSub">
    <mat-chip class="card" (click)="swapQuestion(i)" matTooltip="You can switch one question per quiz">
    Change Question
    </mat-chip>
  </ng-container>
    </mat-card-content>
  </mat-card>
    <!-- submit -->
    <ng-container *ngIf="answersForm.valid && isLast">
      <div class="submit">
        <button mat-raised-button color="primary" id="submit" type="submit" (click)="submitQuiz(answersForm, completeList)" >
          Submit
        </button>
      </div>
    </ng-container>
  </li> 
  </ol>
  </form>
  </body>
  </html>
