.answer-space{
    border: 1px solid #000000;
  }
  .card{
    margin: 2% 0%;
  }
  mat-chip{
    background-color: #7bc4ec !important;
    font-style: italic;
  }
  .submit{
    display: flex;
    justify-content: center;
  }