.average{
  color: #b6b607;
}
.btn{
  border: groove;
  border-radius: 25px;
  padding: 0% 1%;
  margin: 0% 1%;
}
.card{
  margin: 2% 0%;
}
  .failed{
    color:red;
  }
  .failed-btn{
    background-color: red;
    border: groove;
    border-radius: 25px;
    padding: 0% 1%;
    margin: 0% 1%;
  }

  .pass{
    color:green;
  }
  .pass-btn{
    background-color:green;
    border: groove;
    border-radius: 25px;
    padding: 0% 1%;
    margin: 0% 1%;
  }
 