<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quiz Template</title>
</head>
<body >
<form [formGroup]="answersForm"  (ngSubmit)="submitQuiz(answersForm, completeList)" >
  <!-- submit -->
  <ng-container *ngIf="answersForm.valid">
    <div class="submit">
      <button mat-raised-button color="primary" id="submit" type="submit" >
        Submit
      </button>
    </div>
  </ng-container>
    <ol>
        <li *ngFor="let list of completeList; index as i; trackBy: trackByList;"> 
  <mat-card class="card">
    <mat-card-header>
      {{list.title | decode}}
    </mat-card-header>
    <mat-card-content>
      <!-- answers in random order -->
      <mat-chip-listbox >
    <mat-chip-option *ngFor="let questions of list.questions; index as in; trackBy: trackByQuestions;" class="answer-space" color="primary"
    (click)="answered(questions)">  
      {{questions.question | decode}}
    </mat-chip-option>
      </mat-chip-listbox>
  <!-- Allowed one change of question -->
  <ng-container *ngIf="!newQuestionSub">
    <mat-chip class="card change" (click)="swapQuestion(i)" color="primary" selected  matTooltip="You can switch one question per quiz">
    Change Question
    </mat-chip>
  </ng-container>
    </mat-card-content>
  </mat-card>
  </li> 
  </ol>
  </form>
  </body>
  </html>
